<!DOCTYPE html> 
<html>
<head>
    <title>Mi Primer Rocódromo</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/about">Sobre Nosotros</a></li>
            <li><a href="/ciudad/Madrid">Escalada en Madrid</a></li>
            <li><a href="/disponibilidad">Disponibilidad</a></li>
            <li><a href="/rutas">Rutas de Vías</a></li>
            <li><a href="/bloques">Rutas de Bloques</a></li>
            <li><a href="/usuarios">Usuarios</a></li>
        </ul>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>
